<div class="header">
  <div class="header-top">
    <div class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item"><a class="header-nav-link" routerLink="index">السجلات</a></li>
      </ul>
    </div>
  </div>
  <div class="header-bottom">
    <div class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item"><a class="header-nav-link" routerLink="index">لوحة القيادة</a></li>
        <li class="header-nav-item"><a class="header-nav-link" routerLink="index">اعدادات النظام</a></li>

      </ul>
    </div>

  </div>
</div>
