$dark: #020202;
$white: #ffffff;
$light: #F6F6F6;
$light-2: #F0F5FA;
$dark-gray: #353332;
$dark-background: #2A2828;
$primary: #518DD7;
$danger: #C12E30;
$gray: #757575;
$border: #CFD1D2;

// Language: scss
$font-sm: 1.6rem;
$font-md: 1.8rem;
$font-lg: 3rem;
