<div>
  <!--  create modal with dynamic data-->
  <div class="modal fade" [class.active]="active" id="myModal" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">اضافة الاسم</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="modalClose()">&times;
          </button>
        </div>
        <form [formGroup]="userForm" (ngSubmit)="Add()">
          <div class="modal-body">
            <div class="form-group">
              <label for="user" class="form-label">الاسم</label>
              <input type="email"
                     class="form-control"
                     formControlName="username"
                     id="user">
              <!--  error massage for required   -->
              <p *ngIf="userForm?.get('username')?.hasError('required') && userForm?.get('username')?.touched" class="text-danger">
                <small>
                  لا يمكنك ترك هذا الحقل فارغ
                </small>
              </p>
            </div>
            <div class="form-group">
              <label for="details" class="form-label">التفاصيل</label>
              <input type="text"
                     class="form-control"
                      formControlName="details"
                     id="details">
              <!--  error massage for required   -->
              <p *ngIf="userForm?.get('details')?.hasError('required') && userForm?.get('details')?.touched" class="text-danger">
                <small>
                  لا يمكنك ترك هذا الحقل فارغ
                </small>
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit"  class="btn btn-primary">حفظ</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalClose()">الغاء</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
